<div class="container-fluid">
  <div class="container main" *ngIf="!error; else errorTemplate">
    <div class="row">
      <div class="col-md-6 image-container">
        <!-- Plush image -->
        <img src="{{toy.imageUrl ?? 'https://th.bing.com/th/id/OIP.oKqusaK-O2O2QGxKogbHNwHaHa?rs=1&pid=ImgDetMain'}}"
          alt="Big Image" class="image-main">
      </div>
      <div class="col-md-6 details-container">
        <!-- Name and Id -->
        <h1 class="toy-name" data-test="plushToyName">{{ toy.name }} Nr.{{ toy.id }}</h1>
        <!-- Description-->
        <p class="toy-description" data-test="plushToyDesc">{{ toy.description }}</p>

        <!-- Stats in two columns -->
        <div class="att-container">
          <div class="stats-container">
            <div class="stats-column">
              <div class="stat label">Weight</div>
              <div class="stat weight" data-test="plushToyWeight">{{ toy.weight }}kg</div>
              <div class="stat label">Size</div>
              <div class="stat size" data-test="plushToySize">{{ toy.size }}</div>
            </div>
            <div class="stats-column">
              <div class="stat label">Strength</div>
              <div class="stat" data-test="plushToyStrength">
                <ng-container *ngFor="let star of getStars(toy.strength)">
                  <div class="star"></div>
                </ng-container>
              </div>
              <div class="stat label">Health</div>
              <div class="stat health" data-test="plushToyHealth">{{ toy.hp }}HP</div>
            </div>
          </div>
          <div class="row">
            <div class="col-6 stat label">
              Attributes
            </div>
            <div class="col-6">
              <div class="attribute row" *ngFor="let name of getAttributeNames()" data-test="plushToyAttribute">
                {{ name }}
              </div>
            </div>
          </div>
        </div>

        <!-- Price -->
        <div class="price-section">
          <h2 class="toy-price" data-test="plushToyPrice">{{ toy.price }} SOL</h2>
        </div>

        <!-- Buttons -->
        <div class="button-section">
          <button class="btn btn-primary add-to-cart-btn" data-test="addToCartButton" (click)="addToCart()">ADD TO
            BAG</button>
          <button class="btn btn-secondary go-back-btn" data-test="goBackButton" (click)="goBack()">GO BACK</button>

        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #errorTemplate>
  <div class="error-message">
    <h1>Oops, something went wrong :/</h1>
    <p>Please try again later</p>
  </div>
</ng-template>