.navbar-style {
  background-color: none;
  border-bottom: whitesmoke 1px solid;
  padding-left: 5vw;
  padding-right: 5vw;
  width: 100%;
  box-shadow: 2px 2px 0px 5px rgba(0, 0, 0, 0.693);
  overflow: visible;
  transition: max-height 0.3s ease; // Smooth transition for height changes
  max-height: 700px;
  align-items: flex-start; // Align items at the top
  z-index:1000;
}

.navbar-style.expanded {
  max-height: 500px; // Adjust based on the expected height with the dropdown open
}

.header-container {
  margin-left: 10px;
  margin-right: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  overflow-x: visible;
  background-color: rgba(19, 19, 50, 0.9);
}

.bear-icon {
  background-image: url("../../../images/bearArtIcon.png");
  background-size: cover;
}

.form-control:focus {
  outline: none !important;
  box-shadow: none !important;
  background: none !important;
  color: whitesmoke !important;
}

.nav-link {
  color: whitesmoke;
  font-size: large;
}

input {
  background: none;
  border-radius: 10px;
  color: whitesmoke;
  border: 1px whitesmoke solid;
}

input::placeholder {
  color: #999;
}

.search-nav {
  margin-right: 5px;
  margin-left: auto;
}

.form-control {
  background: none;
  border-radius: 10px;
  color: whitesmoke;
  border: 1px solid whitesmoke;
  position: relative; // Ensure input is relative for positioning the icon
  padding-left: 40px; // Adjust padding to accommodate the icon
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 10px; // Adjust based on your design
  transform: translateY(-50%);
  height: 30px;
  width: 30px;
  background-image: url("../../../images/searchIcon.png");
  background-size: contain;
  cursor: pointer;
}


input .focused {
  outline: none;
  border-color: transparent;
}

#search input[type="text"]:focus {
  width: 200px;
  outline: none;
  background-color: rgba(19, 19, 50, 0.9);
}

.dropdown-menu {
  border-radius: 0px;
  background-color: rgba(19, 19, 50, 0.9);
  color: whitesmoke;
  position: absolute; // Make the dropdown static inside the header
  z-index:3000;
  margin-top:40px;
}

.dropdown-menu.show {
  display: block; // Show the dropdown when 'show' class is added
}

.dropdown-menu a {
  color: whitesmoke;
}

.dropdown-menu a:hover {
  color: black;
}

.login {
  border-radius: 10px;
  background-color: #4c3f5b95;
  padding: 4px;
  margin-left: 5px;
  margin-right: 5px;
}

.btn-secondary {
  background-color: #8064A2 !important;
  padding: 4px;
}

.bag-icon {
  height: 25px;
  width: 25px;
  background-image: url("../../../images/shoppingBag.png");
  background-size: contain;
}

.search-icon {
  height: 30px;
  width: 30px;
  background-image: url("../../../images/searchIcon.png");
  background-size: contain;
}

.navbar-toggler {
  margin-left: auto;
}

.nav-item {
  margin-left: 5px;
}

.navbar-collapse {
  justify-content: flex-end;
  align-items: center;
}

.navbar-nav {
  margin-top:0px;
}

.navbar-brand {
  cursor: pointer;
}

a{
  cursor: pointer;
}

.search-input:focus {
  outline: none;
}

.search-input:focus:not(:placeholder-shown),
.search-input:focus:not([data-empty]):not(:placeholder-shown) {
  border-color: #ccc; /* Replace with the original color */
  /* Other styles as needed */
}


@media (max-width: 992px) {
  .navbar-brand {
    margin-left: 0;
  }

  .navbar-collapse {
    text-align: center;
  }

  .navbar-nav {
    flex-direction: column;
    margin-top:10px;
  }

  .nav-item {
    margin-bottom: 9px;
  }

  .search-form {
    margin-top: 30px;
  }

  .dropdown-menu {
    position: static; // Ensure the dropdown is positioned inside the header in mobile view
    float: none;
    width: 100%;
    text-align: center;
    margin-top:0px;
  }
}

