<div class="card-wrap d-flex align-items-center justify-content-center">
  <a [routerLink]="['/detail', plushie.id]" style="text-decoration: none; color: inherit;">
    <div class="card card1" [style.backgroundImage]="'url(' +imageUrl + ')'">
      <div class="card-header d-flex justify-content-between align-items-center">
        <div class="d-flex justify-content-center align-items-center">
          <div class="icon">
            <div id="icon-image" class="icon-image"></div>
          </div>
          <h5 class="card-title m-0">{{ plushie.name }}</h5>
        </div>
        <div>
          <span class="badge badge-primary">{{ plushie.hp}}</span>
        </div>
      </div>
      <div class="card-content">
        <div class="strength d-flex align-items-center">
          <p class="card-text m-0">Strength:</p>
          <ng-container *ngFor="let star of getStars(plushie.strength)">
            <div class="star"></div>
          </ng-container>
        </div>
        <div class="card-price d-flex align-items-center">
          <p class="card-text m-0">
          <div class="price-text">PRICE:</div>
          <div class="eth-price">{{ plushie.price }}</div>
        </div>
        <div class="card-description">
          {{ plushie.description }}
        </div>
        <div>
          <button *ngIf="authService.isLoggedIn()" (click)="handleAddToCart($event, plushie.id)">
            ADD TO BAG :3
          </button>
        </div>
      </div>
    </div>
  </a>
</div>
