.second {
    margin-top: 0px;
    margin-bottom: 50px;
}

.dialogue-box {
    height: auto;
    text-wrap: wrap;
    text-overflow: clip;
    background-image: url("../../../images/dialoguebox1.png");
    background-size: 100% 100%;
    padding: 50px;
    background-repeat: no-repeat;
    color: aliceblue;
    font-size: large;
}

.container-fluid {
    margin-top: 0px;
    padding-top: 100px;
    padding-left: 20px;
    width: 100%;
    overflow: hidden;
    height: auto;
    min-height:600px;
    background-image: url("../../../images/sepr-background.gif");
    background-size: cover;
}


@media (max-width: 992px) {
    .iframe {
        margin: auto;
        margin-top: 40px;
    }

    .container {
        margin-left: 0px;
        margin-right: 0px;
        width: auto;
    }
}
