<div class="container-fluid">
  <div class="container">


    <!--the cards-->
    <div class="row">
      <div class="col-lg-4" *ngFor="let plushie of plushies">
        <app-card
          [plushie]=plushie
          [imageUrl]="'https://th.bing.com/th/id/OIP.oKqusaK-O2O2QGxKogbHNwHaHa?rs=1&pid=ImgDetMain'"
        ></app-card>
      </div>
    </div>

    <!--end of cards/ Hello traveller-->
    <div class="container second d-flex justify-content-between">
      <div class=" dialogue-box">
        <div class=" align-items-center">
          <p>Hello Fellow Person
            <span id="typewriter">{{ typewriterText }}</span>
          </p>
        </div>
      </div>
      <iframe width="314" height="321" scrolling="no"
              src="https://gifypet.neocities.org/pet/pet.html?name=&dob=1715711674&gender=f&element=Earth&pet=hamster.gif&map=night.gif&background=1995.png&tablecolor=black&textcolor=black"
              frameborder="0"></iframe>
    </div>
  </div>


</div>
