.container-fluid {
    height: 140px;
    width: 140px;
    background-image: url("../../../../images/itemContrainer.png");
    background-size: 110% 110%;
    background-position: center;
    padding: 10px;
    border-radius: 5px;
}

.container {
    height: 80%;
    width: 80%;
    background-image: url("../../../../images/ducky.jpg");
    margin-top: 10%;
    padding: 0px;
    background-size: 100% 100%;
    border: 2px whitesmoke solid;
    box-shadow: 0px 3px 0px black;

}

.title-name {
    font-size: medium;
    color: white;
    margin-top: 80%;
    bottom: 0px;
    text-align: center;
    background-color: rgba(17, 11, 26, 0.745);
    padding: 5px;
}