<div class="container-fluid padding">
  <div class="container">
    <div class="container-fluid coverage">
      <h1 class="title">Player Stats</h1>
      <div class="row">
        <div class="col-lg-12 col-sm-12 info">
          <h3 class="info-title">Player Info</h3>

          <!--progress bar-->
          <label class="d-flex justify-content-between">Level {{ level }}
            <div class="mx-4" style="color: brown;">{{ xp }}/{{ maxXp }}XP
            </div>
          </label>
          <div role="progressbar col-lg-12" [ngStyle]="{'width': calculateWidth()}" class="progressbar">
            <div class="progressbar-fill col-lg-12"></div>
          </div>

          <!--Row1: Name and Surname row-->
          <div class="info-row row">
            <div class="col-lg-6 col-sm-12">
              <div class="stat">
                <label>First Name</label>
                <div class="stat-value">
                  <input type="text" data-test="firstName" [(ngModel)]="userDetail.firstname"
                         placeholder="Maximillian">
                </div>
              </div>
            </div>

            <div class="col-lg-6 col-sm-12">
              <div class="stat">
                <label for="lastname">Last Name</label>
                <div class="stat-value">
                  <input type="text" data-test="lastName" [(ngModel)]="userDetail.lastname" placeholder="Musterman">
                </div>
              </div>
            </div>
          </div>

          <!--Row2: Email Address and Phone Number-->
          <div class="info-row row">
            <div class="col-lg-6 col-sm-12">
              <div class="stat">
                <label for="emailAddress">E-mail Address</label>
                <div class="stat-value">
                  <input type="text" data-test="emailAddress" [(ngModel)]="userDetail.emailAddress"
                         placeholder="musterman@gmail.com">
                </div>
              </div>
            </div>

            <div class="col-lg-6 col-sm-12">
              <div class="stat">
                <label for="phoneNumber">Phone Number</label>
                <div class="stat-value">
                  <input type="text" data-test="phoneNumber" [(ngModel)]="userDetail.phoneNumber"
                         placeholder="+4312345678">
                </div>
              </div>
            </div>
          </div>

          <!--Row3: Country and Postal Code-->
          <div class="info-row row">
            <div class="col-lg-6 col-sm-12">
              <div class="stat">
                <label for="country">Country</label>
                <div class="stat-value">
                  <input type="text" data-test="country" [(ngModel)]="userDetail.country" placeholder="Austria">
                </div>
              </div>
            </div>

            <div class="col-lg-6 col-sm-12">
              <div class="stat">
                <label for="postalCode">Postal Code</label>
                <div class="stat-value">
                  <input type="text" data-test="postalCode" [(ngModel)]="userDetail.postalCode"
                         placeholder="1050">
                </div>
              </div>
            </div>
          </div>

          <!--Row4: Address Lines-->
          <div class="info-row row">
            <div class="col-lg-6 col-sm-12">
              <div class="stat">
                <label for="addressLine1">Delivery Address</label>
                <div class="stat-value">
                  <input type="text" data-test="addressLine1" [(ngModel)]="userDetail.addressLine1"
                         placeholder="My Street 12">
                </div>
              </div>
            </div>

            <div class="col-lg-6 col-sm-12">
              <div class="stat">
                <label for="addressLine2">Address Line 2</label>
                <div class="stat-value">
                  <input type="text" data-test="addressLine2" [(ngModel)]="userDetail.addressLine2"
                         placeholder="Apartment 18">
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="row d-flex justify-content-between buttons">
        <button class="btn btn-block btn-secondary mb-2 col-lg-3 col-sm-12" data-test="orderHistoryButton"
                (click)="openOrderHistoryView()">VIEW ORDER HISTORY
        </button>
        <button class="btn btn-block btn-secondary mb-2 col-lg-3 col-sm-12" data-test="deleteButton"
                (click)="selectForDeletion()">DELETE PROFILE
        </button>
        <button data-test="updateButton" class="btn btn-primary btn-block mb-2 col-lg-3 col-sm-12"
                (click)="updateUserDetails()">UPDATE
        </button>
      </div>
    </div>
  </div>
</div>

<app-confirmation-dialog (confirm)="deleteUser()"></app-confirmation-dialog>
