<script src="login.component.ts"></script>
<div *ngIf="error" class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Authentication problems!</strong> {{ errorMessage }}
  <button type="button" (click)="vanishError()" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


<div class="header-container">
  <a *ngIf="!authService.isLoggedIn()" [class]="buttonClass" role="button" data-test="connectWallet"
     (click)="openConnectModal()"> {{ buttonLabel() }}
    <div [class]="iconClass"></div>
  </a>
  <a *ngIf="authService.isLoggedIn()" [class]="buttonClass" role="button" data-test="loggedIn"
     (click)="openWalletModal()"> {{ buttonLabel() }}
    <div [class]="iconClass"></div>
  </a>
</div>

<!--Modal for user to login-->
<div>
  <ng-template #connectModal>
    <div data-test="connectModal">
      <div class="modal-header">
        <h4 class="modal-title">Connect Wallet</h4>
        <button type="button" class="close" aria-label="Close" data-test="closeModal" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <button *ngIf="!walletService.isWalletPresent()" class="btn btn-secondary btn-block mb-2"
                (click)="forwardToPhantom()">Install Phantom Wallet
        </button>
        <button *ngIf="walletService.isWalletPresent()" class="btn btn-secondary btn-block mb-2" (click)="loginUser()"
                data-test="logIn">
          Connect Phantom Wallet
        </button>
      </div>
    </div>
  </ng-template>
</div>

<!--Modal for logged in user-->
<div>
  <ng-template #walletModal>
    <div data-test="walletModal">
      <div class="modal-header">
        <h4 class="modal-title">Your Wallet</h4>
        <button type="button" class="close" aria-label="Close" data-test="closeModal" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="flex-row">
          <span>{{ publicKey ? formatWalletAddress(publicKey) : 'Connecting...' }}</span>
          <span>{{ balance !== undefined ? balance : 'Fetching Balance...' }} SOL</span>
        </div>
        <button class="btn btn-secondary btn-block mb-2" routerLink="/profile" (click)="closeModal()">Profile</button>
        <button class="btn btn-secondary btn-block mb-2" *ngIf="authService.userIsAdmin()" [routerLink]="['/admin']"
                (click)="closeModal()">Admin View
        </button>
        <button class="btn btn-secondary btn-block mb-2" (click)="logoutUser()">Disconnect</button>
      </div>
    </div>
  </ng-template>
</div>
