.container-fluid {
  background-image: url("../../../images/asset_background.png");
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
}

.cart {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  margin: auto;
  max-width: 800px;
  text-align: center; /* Add this line to center the button */
}

.cart-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cart-item {
  background-color: #fff;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
  flex-basis: 48%;
  position: relative;
}

.item-image {
  position: relative;
}

.item-image img {
  width: 100%;
  border-radius: 8px;
}

.hp {
  position: absolute;
  top: 8px;
  left: 8px;
  color: red;
  font-weight: bold;
}

.remove-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  background: none;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
}

.item-details {
  margin-top: 10px;
}

.item-name {
  margin: 5px 0;
}

.item-price {
  margin: 5px 0;
  font-weight: bold;
}

.item-price span {
  color: black;
  text-shadow: 2px 2px 2px white;
}

hr {
  border: 0;
  border-top: 1px solid #ccc;
  margin-top: 20px;
  margin-bottom: 20px;
}

.total-price {
  margin-top: 40px;
  font-size: 1.2em;
  font-weight: bold;
}

.total-price p {
  color: white;
  text-shadow: 1px 1px 1px black;
}

.total-price span {
  color: red;
  border: none;
  padding: 0 5px;
}

.finish-payment {
  background-color: #ff5733;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 8px;
  margin-top: 20px;
}

.finish-payment:disabled {
  background-color: #ff9b85; /* visually differentiate disabled button */
  cursor: not-allowed;
}

.finish-payment:hover:enabled {
  background-color: #c70039;
}

.item-quantity {
  display: flex;
  align-items: center;
  justify-content: center; /* Center the buttons horizontally */
}

.item-quantity button {
  background-color: #ff5733;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 5px; /* Add right margin to decrease button */
  margin-left: 5px; /* Add left margin to increase button */
}

.item-quantity button:hover {
  background-color: #c70039;
}
