<div class="container-fluid">
  <div class="container my-5">
    <h1>User Management</h1>
    <input type="text" [(ngModel)]="searchTerm" placeholder="Search by name, public key, address..."
      class="form-control my-3" data-test="searchInput">

    <div class="table-responsive">
      <table class="table table-fixed" data-test="usersTable">
        <thead>
          <tr>
            <th class="publicKey" >Public Key</th>
            <th class="name" >Name</th>
            <th class="admin" >Admin</th>
            <th class="actions" >Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of paginatedUsers()">
            <td class="publicKey" data-test="userPublicKey">{{ user?.publicKey }}</td>
            <td class="name" data-test="userName">{{ user?.firstname }} {{ user?.lastname }}</td>
            <td class="admin" data-test="userAdminStatus">{{ user ? (user.admin ? 'Yes' : 'No') : '' }}</td>
            <td class="actions">
              <button *ngIf="user" class="btn btn-primary wrap-text" data-test="adminButton" [disabled]="user.admin"
                (click)="updateUserAdminStatus(user)">Make Admin</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="pagination-controls" data-test="paginationControls">
      <button class="btn btn-secondary btn-spaced" (click)="prevPage()" [disabled]="currentPage === 1"
        data-test="prevPageButton">Previous</button>
      <button class="btn btn-secondary btn-spaced" (click)="nextPage()" [disabled]="currentPage >= totalPages()"
        data-test="nextPageButton">Next</button>
    </div>
  </div>
</div>
