<h1>Categories</h1>
<button class="btn navbutton-left btn-primary me-1" routerLink="new">Add a category</button>
<button routerLink="../" class="btn btn-secondary">Back</button>
<div *ngFor="let category of categories; let i = index" class="row">
    <div class="col-md-3 col-sm-6">
        <h5>{{ category.name }}</h5>
        <p>{{category.plushToys.length}} assigned Plushtoys</p>
    </div>

    <div class="col-md-3 col-sm-6 text-end">
        <a class="btn btn-sm responsive-warning-button" aria-label="Edit">
            <i class="fas fa-pencil"></i>
        </a>
        <button type="button" class="btn btn-small btn-danger" data-test="deleteButton"
            (click)="selectForDeletion(category.id)">
            <i class="fas fa-trash"></i>
        </button>
    </div>
</div>
<app-confirmation-dialog (confirm)="deleteCategory(selectedForDeleteId)"></app-confirmation-dialog>