<footer>
  <div class="container-fluid">
    <div class="row container">
      <div class="col-lg-3 col-sm-12 ">
        <div class="logo">
        </div>
        <div class="logo-text">
          PLUSH
        </div>
      </div>

      <div class="col-lg-3 row-of-text">
        <ul>
          Categories
          <li><a (click)="searchByCategory(-1)">All plushies</a></li>
          <li><a *ngIf="categories.length<1" (click)="getCategories()">Show all categories</a></li>
          <li *ngFor="let category of categories"><a (click)="searchByCategory(category.id)">{{category.name}}</a></li>
        </ul>
      </div>

      <div class="col-lg-3 row-of-text">
        <ul>
          Useful Links
          <li><a routerLink="./">Home</a></li>
          <li><a routerLink="/cart">Cart</a></li>
          <li><a routerLink="/orders">Order History</a></li>
        </ul>
      </div>

      <div class="col-lg-3 row-of-text">
        <ul>
          Contact Information
          <li>Office Adress:</li>
          <li>ViennaStraße 172, Vienna, 1040</li>
          <li>E-mail:</li>
          <li>
              <p>OurEmail&commat;yahoo.com</p>
            </li>
          <li>Office Phone:</li>
          <li>+43 677 1234567</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
