<footer>
  <div class="container-fluid">
    <div class="row container">
      <div class="col-lg-3">
        <div class="logo">
        </div>
        <div class="logo-text">
          PLUSH
        </div>
      </div>

      <div class="col-lg-3 row-of-text">
        <ul>
          Categories
          <li><a href="#">Big Teddies</a></li>
          <li><a href="#">Big Teddies</a></li>
          <li><a href="#">Big Teddies</a></li>
          <li><a href="#">Big Teddies</a></li>
          <li><a href="#">Big Teddies</a></li>
          <li><a href="#">Big Teddies</a></li>
          <li><a href="#">Bob Ross</a></li>
        </ul>
      </div>

      <div class="col-lg-3 row-of-text">
        <ul>
          Useful Links
          <li><a href="#">Home</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Login</a></li>
          <li><a href="#">Cart</a></li>
          <li><a href="#">Back to Top</a></li>
        </ul>
      </div>

      <div class="col-lg-3 row-of-text">
        <ul>
          Contact Information
          <li><a href="#">Office Adress:</a></li>
          <li><a href="#">ViennaStraße 172, Vienna, 1040</a></li>
          <li><a href="#">E-mail:</a></li>
          <li><a href="#">
            <p>OurEmail&commat;yahoo.com</p>
          </a></li>
          <li><a href="#">Office Phone:</a></li>
          <li><a href="#">+43 677 1234567</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
