<h1>Plush Toys</h1>
<button class="btn btn-primary me-1 my-3" data-test="createButton" [routerLink]="['product', 'new']">Add a plush toy</button>
<button class="btn btn-secondary" routerLink="categories">Manage Categories</button>
<div *ngFor="let plushToy of plushtoys; let i = index" class="row" data-test="plushToyInfo">
  <div class="col-md-3 col-sm-6">
    <h5 data-test="plushToyName">{{ plushToy.name }}</h5>
    <p data-test="plushToyDesc">{{ plushToy.description }}</p>
  </div>

  <div class="col-md-3 col-sm-6">
    <p>Price: {{ plushToy.price | currency:'USD':true }}</p>
    <p *ngIf="plushToy.averageRating">Average Rating: {{ plushToy.averageRating }}</p>
  </div>
  <div class="col-md-3 col-sm-6">
    <img [src]="'https://th.bing.com/th/id/OIP.oKqusaK-O2O2QGxKogbHNwHaHa?rs=1&pid=ImgDetMain'"
      alt="{{ plushToy.name }}" />
  </div>
  <div class="col-md-3 col-sm-6 text-end">
    <a class="btn btn-sm responsive-warning-button" aria-label="Edit" data-test="editButton" [routerLink]="['product', plushToy.id, 'edit']">

      <i class="fas fa-pencil"></i>
    </a>
    <button type="button" class="btn btn-small btn-danger" data-test="deleteButton" (click)="onDelete(plushToy.id)">
      <i class="fas fa-trash"></i>
    </button>
  </div>
</div>